.sidebar{
    background-color: rgb(117, 211, 117);
    border: 3px solid green;
}

*{
    padding: 1px;
}

.right{
    margin: 0;
    padding: 0;
}

.buttons{
    width: 230px;
    height: 230px;
    background-color:rgb(99, 187, 99);
    box-shadow: 8px 8px 5px green;
    border: 2px solid green;
}

.buttons:hover {
    background-color: rgb(194, 235, 194);
    color: black;
    border: 2px solid green;
}

.icn{
    font-size: 250%;
}